<!-- app/views/shared/_space_rental_calendar.html.erb -->
<head>
    <title>Minimum Setup</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/calendar.css">
</head>
<body>

   <h1>Spaces being rented out</h1>

    <div id="calendar" class="day-schedule">
    <%= week_calendar events: @space_rental_requests do |date, rentals, info| %>
        <%= date.day %>

        <% start = date.beginning_of_day %>
        <% ending = date.end_of_day %>
        <table>
            <% while start < ending do %>
                <tr>
                <% highlite = ''%>
                <% rentals.each do |rental| %>
                    <% if (rental.start > start && rental.start < (start + 0.5.hours)) || (start >= rental.start && start <= rental.end)%>
                        <% highlite = 'highlite'%>
                        <% break %>
                    <% end %>
                 <% end %>

                     <td class="<%= highlite %>">
                        <div class="day-hour">
                            <%= start.strftime("%I:%M %p") %>
                            <% rentals.each do |rental|%>
                                <% has_user = (rental.user != nil)%>
                                <% if has_user && rental.start > start && rental.start < (start + 0.5.hours)%>
                                    <%= "#{rental.user.first_name} #{rental.user.last_name.to_s[0]}"%>
                                <% end %>
                            <% end %>
                        </div>
                    </td>
                </tr>

                <% start += 0.5.hours %>
            <% end %>
        </table>
    <% end %>

    </div>

    <script type="text/javascript" src="js/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
    <script type="text/javascript">
        var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/tmpls/",
                events_source: @events
            });
    </script>
</body>
