-# in app/views/events/event_detail
%h2= @event.name

%h3 Date
%p#date= @event.date

%h3 Time
%p#time= @event.time

%h3 Location
%p#location= @event.location

%h3 Description

%p#descrption= @event.description

- if current_user.volunteer or current_user.admin
  - if not current_user.events.include?(@event)
    =button_to 'Register To Volunteer', event_volunteer_path
  - else
    =button_to 'Unregister from Volunteering', event_unvolunteer_path

/=link_to 'Back to home page', root_path
