-# This file is app/views/user/show.html.haml
%h1 Welcome to the BHNC Website

%table#Events
  %thead
    %tr Name
    %tr Time
    %tr Description
    %tr More Information
  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.date
        %td= event.description
        %td= link_to "More about #{event.name}", event_detail_path(event)

=link_to "Volunteer Sign Up", user_new_volunteer_path

=link_to "Sign out", destroy_user_session_path, :method => :delete