

%h1 Become a Volunteer

= form_tag user_volunteer_path do
  .form-group
    = label :volunteer, :street_address, 'Street Address'
    %br
    = text_field :volunteer, 'street_address', :required => true

  .form-group
    = label :volunteer, :city, 'City'
    %br
    = text_field :volunteer, 'city', :required => true

  .form-group
    = label :volunteer, :zip_code, 'Zip Code'
    %br
    = text_field :volunteer, 'zip_code', :required => true

  .form-group
    = label :volunteer, :phone, 'Phone Number'
    %br
    = text_field :volunteer, 'phone', :required => true

  .form-group
    = label :volunteer, :company, 'Company'
    %br
    = text_field :volunteer, 'company', :required => true
  .form-group
    = submit_tag 'Sign Up'
