

%h1 Become A Volunteer

= form_tag user_volunteer_path do
  .form-group
    = label :volunteer, :date, 'Date'
    %br
    = text_field :volunteer, 'date', :required => true

  .form-group
    = label :volunteer, :street_address, 'Street Address'
    %br
    = text_field :volunteer, 'street_address', :required => true

  .form-group
    = label :volunteer, :city, 'City'
    %br
    = text_field :volunteer, 'city', :required => true

  .form-group
    = label :volunteer, :zip_code, 'Zip Code'
    %br
    = text_field :volunteer, 'zip_code', :required => true

  .form-group
    = label :volunteer, :phone, 'Phone Number'
    %br
    = text_field :volunteer, 'phone', :required => true

  .form-group
    = label :volunteer, :birth_date, 'Birth Date (optional)'
    %br
    = text_field :volunteer, 'birth_date', :required => false

  .form-group
    = label :volunteer, :emergency_contact, 'Emergency Contact'
    %br
    = text_field :volunteer, 'emergency_contact', :required => true

  .form-group
    = label :volunteer, :emergency_phone_number, 'Emergency Contact Number'
    %br
    = text_field :volunteer, 'emergency_phone_number', :required => true

  %h2 Employment
  %h5 If any of the fields aren't applicable, please leave them blank.

  .form-group
    = label :volunteer, :company, 'Company'
    %br
    = text_field :volunteer, 'company', :required => false

  .form-group
    = label :volunteer, :occupation, 'Occupation'
    %br
    = text_field :volunteer, 'occupation', :required => false

  .form-group
    = label :volunteer, :employer, 'Employer'
    %br
    = text_field :volunteer, 'occupation', :required => false

  .form-group
    = label :volunteer, :work, 'Full Time / Part Time'
    %br
    = text_field :volunteer, 'work', :required => false

  .form-group
    = check_box_tag :volunteer, 'work_hours'
    = label :volunteer, :work_hours, 'I can be contacted during work hours.'

  %h2 Other Details 
  %h5 If any of the fields aren't applicable, please leave them blank.

  .form-group
    = label :volunteer, :current, 'Current Volunteer Experiences'
    %br
    = text_area :volunteer, 'current', :required => false

  .form-group
    = label :volunteer, :past, 'Past Volunteer Experiences'
    %br
    = text_area :volunteer, 'past', :required => false

  .form-group
    = label :volunteer, :referral, 'How did you hear about Bernal Heights?'
    %br
    = text_area :volunteer, 'referral', :required => false

  .form-group
    = label :volunteer, :languages, 'What languages do you speak?'
    %br
    = text_area :volunteer, 'languages', :required => false

  .form-group
    = label :volunteer, :extra_information, 'Is there any information we need to know from you that is important to do this work, or is there anything else you would like to tell us about yourself? Explain.'
    %br
    = text_area :volunteer, 'extra_information', :required => false

  %h4 A major objective of the Bernal Heights Neighborhood Center is to educate the public about our services and constituents. To accomplish this, the BHNC frequently sends press releases and photographs to the media (newspapers, radio, television and the internet).  It is the right of the individual whether or not to consent to the use of his/her photograph and/or name for the above publicity purposes.
  
  .form-group
    = check_box_tag :volunteer, 'photograph_consent'
    = label :volunteer, :photograph_consent, "I hereby authorize the BHNC to use any photographs taken at the BNNC of me and/or my property."

  %h2 Vehicle Information

  .form-group
    = check_box_tag :volunteer, 'license_check'
    = label :volunteer, :license_check, "I have a valid CA driver's license."

  .form-group
    = check_box_tag :volunteer, 'violations_check'
    = label :volunteer, :violations_check, "My driving record is free of moving violations."
    

  .form-group
    = check_box_tag :volunteer, 'car_check'
    = label :volunteer, :car_check, "I am willing to use my car for a volunteer assignment."
    
  %h4 If you are willing to use your car for a volunteer assignment, please supply the following information:

  .form-group
    = label :volunteer, :license_number, "License #"
    %br
    = text_field :volunteer, 'license_number', :required => false

  .form-group
    = label :volunteer, :auto_insurance_policy_number, "Auto Insurance Policy #"
    %br
    = text_field :volunteer, 'auto_insurance_policy_number', :required => false

  .form-group
    = check_box_tag :volunteer, 'class_b_license'
    = label :volunteer, :class_b_license, "I have a class B license and I am willing to drive an agency vehicle for client outings."

  %h2 BHNC Volunteer Opportunities
  %h4 Please check if interested, otherwise leave blank

  .form-group
    = check_box_tag :volunteer, 'administrative'
    = label :volunteer, :administrative, "ADMINISTRATIVE/GENERAL OFFICE: Assist with clerical and program needs."
  
  .form-group
    = check_box_tag :volunteer, 'recreational_assistant'
    = label :volunteer, :recreational_assistant, "RECREATIONAL ASSISTANT: Assist with weekday programs for seniors and disabled adults."

  .form-group
    = check_box_tag :volunteer, 'recreational_leader'
    = label :volunteer, :recreational_leader, "RECREATIONAL LEADER: Design and conduct classes in your area of expertise (where there is interest) and/or provide backup to teachers, ed/rec classes, etc.."
  
  .form-group
    = check_box_tag :volunteer, 'computer_lab'
    = label :volunteer, :computer_lab, "COMPUTER LAB: Tutor or lead a small class for beginners or intermediate students such as Word, setting up an email account, searching the Internet, or creating flyers."

  .form-group
    = check_box_tag :volunteer, 'brown_bag'
    = label :volunteer, :brown_bag, "BROWN BAG: The San Francisco Food Bank deliveries fresh produce every other Thursday. Volunteers bag the food for homebound clients.  Delivery must occur the same day at around 10:00 a.m."
    
  .form-group
    = check_box_tag :volunteer, 'food_box'
    = label :volunteer, :food_box, "FOOD BOX: We deliver Supplemental Food Boxes weighing about 10 pounds to homebound seniors the first Tuesday of the Month."

  .form-group
    = check_box_tag :volunteer, 'food_distribution'
    = label :volunteer, :food_distribution, "FOOD DISTRIBUTION: Set-up food pantry line; distribute food."

  .form-group
    = check_box_tag :volunteer, 'friendly_visitor'
    = label :volunteer, :friendly_visitor, "FRIENDLY VISITOR: Provide companionship to a senior by visiting them in their home for socializing, playing games, or taking a walk.  Requires a once a week visit for one hour for a commitment of at least six months."

  .form-group
    = check_box_tag :volunteer, 'sales_associate' 
    = label :volunteer, :sales_associate, "SALES ASSOCIATES: Sell merchandise that directly benefits BHNC Programs. Help keep store neat and orderly."

  .form-group
    = check_box_tag :volunteer, 'sorters'
    = label :volunteer, :sorters, "SORTERS: Organize the donations and the store to increase the sales."

  .form-group
    = check_box_tag :volunteer, 'handyperson'
    = label :volunteer, :handyperson, "HANDYPERSON: Change light bulbs, install smoke alarms or help with yard clean up for an elderly person or disabled adult."  

  .form-group
    = check_box_tag :volunteer, 'intern'
    = label :volunteer, :intern, "INTERN: Work as a Program Assistant in your area of interest to gain valuable work experience or possible college credit."

  .form-group
    = check_box_tag :volunteer, 'lunch_service'
    = label :volunteer, :lunch_service, "LUNCH SERVICE: Assist in portioning out food and serving food to seniors in our Congregate lunch program. Light duty cleanup afterward."

  .form-group
    = check_box_tag :volunteer, 'personal_driver'
    = label :volunteer, :personal_driver, "ON CALL PERSONAL DRIVERS: Assist seniors by escorting them to doctor’s appointments, grocery shopping trips, and errands."  

  .form-group
    = check_box_tag :volunteer, 'translator'
    = label :volunteer, :translator, "TRANSLATORS: Translate documents and flyers for programs or verbally translate as needed."

  .form-group
    = label :volunteer, :other_interests, "OTHER (separate your interests with commas):"
    = text_field :volunteer, 'other_interests', :required => false

  %h2 References


  .form-group
    = submit_tag 'Sign Up'
