

%h1 Become a Volunteer

= form_tag user_volunteer_path do

  = label :volunteer, :street_address, 'Street Address'
  = text_field :volunteer, 'street_address'

  = label :volunteer, :city, 'City'
  = text_field :volunteer, 'city'

  = label :volunteer, :zip_code, 'Zip Code'
  = text_field :volunteer, 'zip_code'

  = label :volunteer, :phone_number, 'Phone Number'
  = text_field :volunteer, 'phone_number'

  = label :volunteer, :company, 'Company'
  = text_field :volunteer, 'company'

  = submit_tag 'Sign Up'