

%h1 Become a Volunteer

= form_tag user_volunteer_path do

  = label :volunteer, :street_address, 'Street Address'
  = text_field :volunteer, 'street_address', :required => true

  = label :volunteer, :city, 'City'
  = text_field :volunteer, 'city', :required => true

  = label :volunteer, :zip_code, 'Zip Code'
  = text_field :volunteer, 'zip_code', :required => true

  = label :volunteer, :phone_number, 'Phone Number'
  = text_field :volunteer, 'phone_number', :required => true

  = label :volunteer, :company, 'Company'
  = text_field :volunteer, 'company', :required => true

  = submit_tag 'Sign Up'
